.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;

}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.darkened {
    filter: brightness(50%);
}

.is-child {
  float:left;
  position:relative;
}

.name {
  background-color: #ffffffd7;
  font-size: 1.2em;
  position: absolute;
  bottom: 10%;
  max-width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#zoom-modal-img {
  height: 80vh;
  width:auto;
  left:0;
  right:0;
  margin-right:auto;
  margin-left: auto;
}