<!DOCTYPE doctype html>

<html>

<head>
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control" /> <!-- Disable caching -->
    <meta content="no-cache" http-equiv="Pragma" />
    <meta content="0" http-equiv="Expires" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Whomever Could It Be!?</title>
    <link href="/static/css/bulma.css" rel="stylesheet" />
    <link href="/static/css/whomever.css" rel="stylesheet" />
    <script src="/static/js/howler.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
    <section class="section">
        <div class="block">
            <h1 class="title is-4">Whomever Could It Be!?</h1>
            <div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical">
                        <div class="tile is-12 is-parent">
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/03.png">
                                </figure>
                                <div class="name">Alexa</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/07.png">
                                </figure>
                                <div class="name">Flora</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/15.png">
                                </figure>
                                <div class="name">Amelia</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/21.png">
                                </figure>
                                <div class="name">Hamish</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/04.png">
                                </figure>
                                <div class="name">Claudia</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/14.png">
                                </figure>
                                <div class="name">Hazel</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/13.png">
                                </figure>
                                <div class="name">Sienna</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/22.png">
                                </figure>
                                <div class="name">Owen</div>
                            </div>
                        </div>

                        <div class="tile is-12 is-parent">
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/16.png">
                                </figure>
                                <div class="name">Charles</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/24.png">
                                </figure>
                                <div class="name">Cain</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/08.png">
                                </figure>
                                <div class="name">Rita</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/20.png">
                                </figure>
                                <div class="name">Dale</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/02.png">
                                </figure>
                                <div class="name">Monica</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/12.png">
                                </figure>
                                <div class="name">Gemma</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/17.png">
                                </figure>
                                <div class="name">Calvin</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/05.png">
                                </figure>
                                <div class="name">Rachel</div>
                            </div>
                        </div>

                        <div class="tile is-12 is-parent">
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/11.png">
                                </figure>
                                <div class="name">Eva</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/06.png">
                                </figure>
                                <div class="name">Marie</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/18.png">
                                </figure>
                                <div class="name">Martin</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/09.png">
                                </figure>
                                <div class="name">Amber</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/01.png">
                                </figure>
                                <div class="name">Amy</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/19.png">
                                </figure>
                                <div class="name">Tim</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/10.png">
                                </figure>
                                <div class="name">Lydia</div>
                            </div>
                            <div class="tile is-child box has-text-centered">
                                <figure class="image">
                                    <img class="zoom" src="/static/img/23.png">
                                </figure>
                                <div class="name">Amir</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>